*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oswald' sans-serif;
    font-weight: 400;
    color: #5d5d7d;
}
.wrapper {
    width: 100%;
    height: 100%;
}

.container-left {
    display: inline-block;
    width: 60%;
    height: 40px;
    padding-left: 136px;
    margin-top: 16%;
}

.container-right {
    display: inline-block;
    background-color: rgb(93,93,125,0.16);
    height: 100vh;
    width: 40%;
    position:absolute;
}

img {
    position: relative;
    top: 25%;
    bottom: 18px;
    right: 130px;
}

h1 {
    font-size: 65px;
    line-height: 80px;
    width: 368px;

    
}

p {
    
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 18px 20px;
    width: 740px;
}
  
  button {
    width: 269px;
    height: 62px;
    background-color: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.979959);  
    border: none;
    border-radius: 30px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }

button:hover {
    opacity: .9;
}

button:active {
    opacity: .5;
}

a {
    font-size: 28px;
    font-line:41px;
    color: #5d5d7d;
    margin-right: 41px;
    cursor: pointer;
}

a:hover {
    opacity: 0.6;
}

a:active {
    opacity: 0.3;
}

header {
    margin: 30px 0 0 80px;
}

      @media screen and (max-width: 700px){
    .container-left, .container-right {
        display: block;
        width: 100%;
        height: 50%;
        padding: 0px;
        margin: 0;
    }
    .container-right {
        position: static;
        height: auto;
        width: 100%;
        display: block;
        padding: 40px;
    }

    img {
        position: static;
        max-width: 90%;
    }
    
    header {
      display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width:auto;
        margin: 50px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        font-size: 14px;
        line-height: 40px;
        width: auto;
        text-align: center;
    }

    button {
        margin: 0 auto;
        display: block;
    }

    a {
        font-size: 20px;
        line-height: 30px;
        margin-right: 20px;
    }

    
}